* {box-sizing: border-box}

/* Add padding to containers */


/* Full-width input fields */
.userInput {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
} 
.userxxInput {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
 
  border: none;
  background: #f1f1f1;
} 
.userxxInput {
  background-color: #ddd;
  outline: none;
} 
/* .d-flex{
  width: 100%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
} */
.userInput {
  background-color: #ddd;
  outline: none;
} 



/* Overwrite default styles of hr */
hr {
  border: 1px solid  #04AA6D;
  margin-bottom: 25px;
  color: #04AA6D;
 
}

/* Set a style for the submit/register button */




/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

  #units th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
     background-color: #04AA6D; 
     color: white; 
  }
   
   
    /* You can add more specific styling for each button if needed */
  
  
  /* .button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-right: 2%;
    transition-duration: 0.4s;
    cursor: pointer;
   
  }
   */
  